<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/head :: head(title='Delete Post')}"></head>

<body>
<h1 class=" title is-1">Delete Post</h1>
<div th:replace="~{/fragments/menu :: menu(active='Delete Post')}"></div>

<div class="container">
    <div class="columns">
        <div class="column is-offset-one-quarter is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Delete a post
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        Do you want to delete "<span th:text="${post.title}"></span>"?
                    </div>
                </div>
                <footer class="card-footer">
                    <form action="#" th:action="@{/posts/delete}" th:object="${post}" method="POST">
                        <input type="hidden" th:field="*{id}">
                        <button type="submit" class="button is-danger">
                            <span class="icon">
                                <span class="mdi mdi-card-remove-outline"></span>
                            </span>
                            &nbsp; Delete
                        </button>
                    </form>
                    <a th:href="@{/posts/show}" class="button is-info">
                        <span class="icon">
                            <span class="mdi mdi-exit-to-app"></span>
                        </span>
                        &nbsp; Abort
                    </a>
                </footer>
            </div>
        </div>
    </div>
</div>

</body>
</html>