<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/head :: head(title='Posts')}"></head>

<body>
<h1 class=" title is-1">Posts</h1>
<div th:replace="~{/fragments/menu :: menu(active='Posts')}"></div>

<span th:if="${sessionUser!=null && sessionUser.isAdmin()==true}">
    <a th:href="@{/posts/new}" class="button is-primary">New Post</a>
</span>

<ul>
    <li th:each="post : ${postList}" th:insert="~{/fragments/post-fragment :: postInfo(${post})}">
    </li>
</ul>

</body>
</html>