<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Posts</title>
    <link rel="stylesheet" th:href="@{/css/bulma.min.css}"/>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>

            <a class="navbar-item">
                Documentation
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="columns">
        <div class="column is-offset-one-quarter is-half">

            <form action="#" method="POST" th:action="@{/posts/store}" th:object="${series}">
                <input type="hidden" th:field="*{id}">

                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" th:errorclass="is-danger" placeholder="Input the series' name" type="text"
                               th:field="*{name}"/>
                    </div>
                    <ul>
                        <li th:each="error : ${#fields.errors('name')}" th:text="${error}" class="help is-danger"/>
                    </ul>
                </div>
                <div class="field">
                    <label class="label">Premiere</label>
                    <div class="control">
                        <input class="input" type="date" th:field="*{premiere}"/>
                    </div>
                    <ul>
                        <li th:each="error : ${#fields.errors('premiere')}" th:text="${error}" class="help is-danger"/>
                    </ul>
                </div>
                <div class="field">
                    <label class="label">TV-Channel</label>
                    <div class="control">
                        <input class="input" placeholder="Enter the TV channel's name" type="text"
                               th:field="*{tvChannel}"/>
                    </div>
                    <ul>
                        <li th:each="error : ${#fields.errors('tvChannel')}" th:text="${error}" class="help is-danger"/>
                    </ul>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">OK</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>