<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/bulma.min.css}"/>
</head>
<body>
<h1>Registration:</h1>
<form th:action="@{/registration/store}" th:object="${user}" method="post">

    <label class="label">Name</label>
    <div class="control">
        <input class="input" type="text" placeholder="Text input" th:field="${user.username}">
    </div>

    <label class="label">Password</label>
    <div class="control">
        <input class="input" type="password" placeholder="Text input" th:field="${user.password}">
    </div>

    <button class="button" type="submit">Save</button>
</form>
</body>
</html>