<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{/fragments/head :: head(title='Login')}"></head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h2>Welcome</h2>
    <h1>Good to see you again</h1>
    <form id="survey-form" th:action="@{/login/start}" th:object="${user}" method="post">
        <fieldset>
            <label id="name-label" for="name" class="margin error" >Name
                <input th:field="${user.username}" type="text" id="name" name="name" placeholder="Enter your name" required />
            </label>
            <label  id="email-label" for="password" class="margin">Password
                <input type="password" id="password" name="password" placeholder="Enter your Password" required />
            </label>
        </fieldset>
        <fieldset>
            <input type="submit" id="submit" value="Login" />
            <p class="register">Noch kein Konto? Melde dich <a th:href="@{/registration/register}">hier</a> an!</p>
        </fieldset>
    </form>
</body>
</html>